* {
  border: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
#introduction > h1 {
  background-color: #ad8f67;
}
#background > h1 {
  background-color: #726056;
}
#pauses > h1 {
  background-color: #808da0;
}
#elision > h1 {
  background-color: #4c5a6a;
}
#isotony > h1 {
  background-color: #a56a5f;
}
#reset > h1 {
  background-color: #79463d;
}
#contour > h1 {
  background-color: #93a299;
}
#conclusion > h1 {
  background-color: #818a8e;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  background: transparent;
  color: inherit;
  text-decoration: underline;
}
audio {
  margin: 0.5rem;
}
body {
  background: white;
  box-sizing: border-box;
  color: black;
  font-family: 'Noto Sans';
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
  min-height: 100vh;
}
dfn {
  font-style: italic;
}
em {
  font-style: italic;
}
:focus {
  outline: 0;
}
footer {
  text-align: center;
}
header {
  background-color: #4c5a6a;
  color: white;
  padding: 1rem;
  text-align: center;
}
header h1 {
  font-size: 2em;
}
header h2 {
  font-size: 1.5em;
}
.image-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}
img {
  width: 100%;
}
#introduction > .section-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
li {
  display: list-item;
  padding-bottom: 0.125em;
}
.list-section {
  width: 50%;
}
main {
  align-content: space-around;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.section {
  padding: 1rem 1rem 0rem 1rem;
}
.section h2 {
  font-weight: bold;
}
.section-content {
  padding: 0rem 0.5rem;
}
.section-content > * {
  padding: 0.25em 0em;
}
.section-header {
  border-radius: 0px 0.5em 0px 0px;
  color: white;
  font-size: 1.25em;
  padding: 0rem 0.5rem;
}
.spectrograph {
  cursor: pointer;
}
strong {
  font-weight: bold;
}
ul {
  list-style: disc outside none;
  margin-left: 1.5rem;
}
@media screen and (min-width: 1000px) {
  main {
    max-height: 200vh;
  }
  .section {
    width: 33.3333%;
  }
}
@media screen and (min-width: 900px) and (max-width: 999px) {
  main {
    max-height: 250vh;
  }
  .section {
    width: 50%;
  }
}
@media screen and (max-width: 899px) {
  .section {
    width: 100%;
  }
}
