@import 'reset.less';

@brown:      rgb(173, 143, 103);
@dark-brown: rgb(114, 96, 86);
@gray:       rgb(128, 141, 160);
@dark-gray:  rgb(76, 90, 106);
@rust:       rgb(121, 70, 61);
@tan:        rgb(147, 162, 153);

// TEMP
body { border: 1px solid black; }

#introduction > h1 { background-color: @brown; }
#background > h1 { background-color: @dark-brown; }
#section3 > h1 { background-color: @dark-gray; }
#section4 > h1 { background-color: @gray; }
#section5 > h1 { background-color: @rust; }
#section6 > h1 { background-color: @tan; }

body {
  background-color: white;
  box-sizing: border-box;
  font-family: 'Noto Sans';
  height: 36in;
  max-height: 36in;
  max-width: 48in;
  width: 48in;
}

footer {
  font-size: 1.5em;
  padding: 2rem;
  text-align: center;
}

header {

  background-color: @dark-gray;
  color: white;
  padding: 5rem;
  text-align: center;

  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 6em;
  }

}

li {
  display: list-item;
}

.list-section {
  float: left;
  width: 50%;
}

main {
  font-size: 2.5rem;
  overflow: hidden;
}

.section {

  margin: 5rem 0rem 0rem 5rem;
  width: 33.3333%;

  h2 {
    font-weight: bold;
  }

}

.section-content {

  margin: 1rem 2.5rem;

  > section {
    margin-bottom: 0.5em;
  }

}

.section-header {
  border-radius: 0px 0.5em 0px 0px;
  color: white;
  font-size: 5rem;
  padding: 0.125em 2.5rem;
}

strong {
  font-weight: bold;
}

ul {
  padding-left: 3.5rem;
  list-style: disc outside none;
}

@media print {
  @page {
    size: 48in 36in;
    size: landscape;
  }
}
