@brown:      rgb(173, 143, 103);
@dark-brown: rgb(114, 96, 86);
@gray:       rgb(128, 141, 160);
@dark-gray:  rgb(76, 90, 106);
@rust:       rgb(165, 106, 95);
@dark-rust:  rgb(121, 70, 61);
@tan:        rgb(147, 162, 153);
@dark-tan:   rgb(129, 138, 142);

// TEMP
// body { border: 1px solid black; }

// RESET
* {
  border:          0;
  border-collapse: collapse;
  font:            inherit;
  margin:          0;
  outline:         0;
  padding:         0;
  text-decoration: none;
  vertical-align:  baseline;
}

#introduction > h1 { background-color: @brown; }
#background > h1 { background-color: @dark-brown; }
#pauses1 > h1 { background-color: @gray; }
#pauses2 > h1 { background-color: @gray; }
#elision > h1 { background-color: @dark-gray; }
#isotony1 > h1 { background-color: @rust; }
#isotony2 > h1 { background-color: @rust; }
#reset > h1 { background-color: @dark-rust; }
#contour > h1 { background-color: @tan; }
#conclusion > h1 { background-color: @dark-tan; }

a, a:link, a:visited, a:hover, a:active {
  background: transparent;
  color: inherit;
  text-decoration: underline;
}

body {
  background: white;
  box-sizing: border-box;
  color: black;
  font-family: 'Noto Sans';
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 36in;
  line-height: 1.5;
  max-height: 36in;
  max-width: 48in;
  width: 48in;
}

.col {
  float: left;
  width: 33.3333%;
}

#col1 {
  clear: both;
}

dfn {
  font-style: italic;
}

em {
  font-style: italic;
}

:focus {
  outline: 0;
}

footer {
  font-size: 1.5em;
  padding: 2rem;
  text-align: center;
}

header {

  background-color: @dark-gray;
  color: white;
  padding: 5rem;
  text-align: center;

  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 6em;
  }

}

.image-section {
  margin: 0;
}

img {
  width: 100%;
}

img[src='img/elision.png'] {
  margin-top: -2rem;
}

img[src='img/isotony.png'] {
  margin-bottom: -3rem;
}

li {
  display: list-item;
  padding-bottom: 0.125em;
}

.list-section {
  float: left;
  width: 50%;
}

main {
  font-size: 2.5rem;
  overflow: hidden;
}

.section {

  margin: 2.55rem 2.5rem 0rem 2.5rem;

  h2 {
    font-weight: bold;
  }

}

.section-content {

  margin: 1rem 2.5rem;

  > section {
    margin-bottom: 0.5em;
  }

}

.section-header {
  border-radius: 0px 0.5em 0px 0px;
  color: white;
  font-size: 5rem;
  padding: 0.125em 2.5rem;
}

strong {
  font-weight: bold;
}

ul {
  padding-left: 3.5rem;
  list-style: disc outside none;
}

@media print {
  @page {
    size: 48in 36in;
    size: landscape;
  }
}
